requests
beautifulsoup4
hapi
astroquery
pymatgen
psycopg2-binary

pandas
numpy
scipy
matplotlib
networkx
scikit-learn
mendeleev
pint
psutil
plotly
PySide6
pyvista
transformers
trl
peft
bitsandbytes
datasets
accelerate
torch
huggingface-hub
google-cloud-storage
google-cloud-aiplatform
