requests
beautifulsoup4
hapi
astroquery
pymatgen
psycopg2-binary

numpy
scipy
matplotlib
mendeleev
PySide6
pyvista
transformers
trl
peft
bitsandbytes
datasets
accelerate
torch
huggingface-hub
google-cloud-storage
google-cloud-aiplatform
